extends ../partials/head
block content
  .all-wrapper
    .all-header
      span Header
    .all-content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
      span Content
    .all-footer
      span Footer
