.sidebar {
  width: 20%;
  min-width: 200px;
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.bar {
  display: flex;
  width: 262px;
  height: 55px;
  padding: var(--bar-padding);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
}

.bar-content, .bar-content-bigger {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bar-content-bigger p {
  font-size: 18px;
}

.bar-extension-checkboxes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bar-extension-checkboxes div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-icon {
  width: 12px;
  min-width: 12px;
}

.checkbox-icon-active {
  display: none;
  width: 12px;
  min-width: 12px;
}

.checkbox-clicked {
  display: block;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.list-tray-icon {
  width: 18px;
  height: 18px;
}

.main-content {
  width: 80%;
  min-width: 50%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  
}

.bar-information {
  display: flex;
  width: 100%;
  min-width: 100%;
  padding: 0 37px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.party {
  color: var(--party-color);
}

.venue-accom-top-section {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  max-height: fit-content;
  display: block;
  padding: 50px var(--header-padding);
  align-items: flex-start;
  gap: 5%;
  align-content: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.66px;
  background: var(--istanbul-guide-top-section-left-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.venue-accom-bottom-content {
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  max-height: fit-content;
  display: inline-flex;
  padding: 50px var(--header-padding);
  align-items: flex-start;
  gap: 125px;
}

.bar-extension-capacity-selection {
  display: flex;
  width: 262px;
  padding: 23px;
  height: 500px;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
}

.bar-extension-location-selection {
  display: flex;
  width: 262px;
  padding: 23px;
  height: 300px;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
}

.bar-extension-checkboxes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.apply-filters-button {
  display: flex;
  width: 262px;
  height: 52px;
  padding: var(--submit-button-padding);
  align-items: center;
  justify-content: center;
  border-radius: var(--bar-border-radius);
  background: var(--main-events-color);
  color: var(--body-background-color);
  font-size: 16px;
  font-weight: 400;
}

.venue-accom-filters-bottom-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("/img/node101-events-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  width: 262px;
  min-width: 262px;
  height: 191.181px;
  padding-bottom: 13px;
}

.venue-accom-filters-bottom-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  flex-shrink: 0;
}

.venue-accom-filters-bottom-info-text p {
  width: 234px;
  color:#EEF6FC;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

.outer-links-with-arrow {
  display: flex;
  width: fit-content;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.link-arrow {
  width: 10.092px;
  min-width: 10.092px;
  height: 14.12px;
  min-height: 14.12px;
  flex-shrink: 0;
}

.outer-link-green {
  align-items: center;
  text-decoration: none;
  width: fit-content;
  height: auto;
  color: var(--main-events-color);
  font-size: 16px;
  font-weight: 400;
  flex-wrap: wrap;
}

.submit-venue-button {
  display: flex;
  width: 262px;
  padding: 9px 20px 9px 29px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid var(--main-events-color);
  color: var(--main-events-color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.venue-bar {
  display: flex;
  width: 100%; 
  min-width: 100%;
  height: 85px;
  min-height: 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  gap: 50px;
}

.bar-information {
  display: flex;
  min-width: 100%;
  padding: 25px 82px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.venue-title {
  font-size: 18px;
  font-weight: 400;
  min-width: 350px;
  margin-right: 5px;
  color: var(--side-events-color);
}

.venue-seated-capacity, .venue-standing-capacity {
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
  min-width: 150px;
  align-content: center;
  margin-right: 5px;
  text-align: right;
}

.link-to-venue-button {
  display: flex;
  width: 157px;
  height: 40px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--side-events-color);
  background: var(--side-events-color);
  color: var(--website-background-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  white-space: nowrap;
}

.about-the-venue-image {
  width: 90%;
  min-width: 90%;
  height: auto;
  min-height: auto;
  align-self: flex-end;
  border-radius: 10px;
}

.about-the-venue-mobile-version .about-the-venue-image {
  width: 267px;
  min-width: 267px;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: 10px;
}

.venue-standing-capacity {
  text-align: right;
}

.venue-bar-gray-text {
  color: var(--venue-bar-gray-text-color);
  margin-right: 10px;
}

.clicked {  
  flex-direction: column;
  height: fit-content;
  gap: 15px;
}

.about-the-venue {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 82px;
}

.about-the-venue-section-left {
  width: 45%;
  min-width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 29px;
  margin-right: 20px;
}

.about-the-venue-section-left h3 {
  color: var(--top-intro-paragraph-color);
  font-size: 24px;
  font-weight: 400;
}

.about-the-venue-section-left p, .about-the-venue-mobile-version p {
  color: var(--top-intro-paragraph-color);
  font-size: 16px;
  font-weight: 400;
}

.venue-location {
  display: flex;
  padding: 0px 7px;
  align-items: flex-start;
  gap: 10px;
  align-self: flex-end;
}

.venue-location p, .about-the-venue-mobile-version .venue-location {
  color: var(--event-location-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}

.about-the-venue-mobile-version .venue-location {
  align-self: center;
}

.about-the-venue-mobile-version {
  width: 100%;
  min-width: 100%;
  padding: 0 37px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

.about-the-venue-mobile-version .about-the-venue-image {
  width: 267px;
  min-width: 267px;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: 10px;
}

.about-the-venue-mobile-version p {
  color: var(--top-intro-paragraph-color);
  font-size: 16px;
  font-weight: 400;
}

.venue-contact-info {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.venue-phone-number, .venue-email-address {
  color: var(--side-events-color);
}

.general-venues-loading-icon-wrapper {
  height: var(--general-venue-loading-icon-wrapper-height);
  min-height: var(--general-venue-loading-icon-wrapper-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.general-venues-loading-icon {
  height: 30px;
  fill: var(--placeholder-color);
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1300px) {

  .venue-accom-bottom-content {
    gap: 80px;
  }

  .about-the-venue-section-left h3 {
    font-size: 20px;
  }
  
  .about-the-venue-section-left p {
    font-weight: 300;
    font-size: 14px;
  }

  .link-to-venue-button {
    width: 120px;
    font-size: 14px;
  }

  .about-the-venue {
    padding: 0 25px;
  }

  .bar-information {
    padding: 25px;
  }

  .event-title {
    min-width: 300px;
  }

}

@media only screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }

  .mobile-search-filter-section {
    display: flex;
  }
  
  .main-content {
    width: 100%;
    min-width: 100%;
  }

  .bottom-content {
    flex-direction: column;
  }

  .venue-title {
    font-size: 18px;
    min-width: 290px;
  }

  .venue-type, .venue-date {
    font-size: 14px;
  }

  .about-the-event-image {
    width: 90%;
    min-width: 90%;
    height: auto;
    min-height: auto;
  }
  
}
@media only screen and (max-width: 760px) {

  .top-intro {
    display: block;
  }

  .top-intro-left {
    min-width: 100%;
  }

  .top-intro-right {
    margin-top: 50px;
    min-width: 100%;
  }
  .event-bar {
    height: 70px;
    min-height: 70px;
  }
  .event-title {
    width: 150px;
    min-width: 150px;
  }
  .venue-seated-capacity, .venue-standing-capacity {
    min-width: 70px;
    text-align: center;
  }

  .clicked {
    gap: 0px;
    height: fit-content;
  }

}

@media only screen and (max-width: 1000px) {

  .venue-title {
      font-size: 18px;
      min-width: 290px;
  }
  .venue-seated-capacity, .venue-standing-capacity {
      font-size: 14px;
  }
  
}

@media only screen and (max-width: 670px) {

  .about-the-venue {
    display: none;
  }

  .about-the-venue-mobile-version {
    display: flex;
  }

  .about-the-venue-image {
    align-self: center;
  }

  .venue-location {
    margin-bottom: 15px;
  }

  .clicked {
    height: fit-content;
  }

  .link-to-venue-button {
    width: 20%;
    min-width: 20%;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about-the-venue-mobile-version {
    padding: 0 25px;
  }

  .venue-seated-capacity {
    margin-right: 30px;
  }

  .venue-title {
    min-width: 100px;
  }
  
}

@media only screen and (max-width: 520px) {
  .venue-bar-gray-text {
    margin-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .venue-accom-top-section {
      display: none;
  } 

  .about-the-venue-mobile-version p {
    color: var(--top-intro-paragraph-color);
    font-size: 14px;
    font-weight: 400;
  }

}