:root {
  --header-background-color: rgba(0, 0, 0, 0.4);
  --default-text-color: rgba(217, 217, 217, 1);
  --website-background-color: rgba(20, 20, 20, 1);
  --top-intro-paragraph-color: rgba(238, 246, 252, 1);
  --top-intro-title-color: rgba(255, 255, 255, 1);;
  --gradient-title-color: linear-gradient(139deg, rgba(255, 255, 255, 1) 0%, rgba(104, 242, 158, 1) 100%);
  --gradient-text-color: linear-gradient(47deg, rgba(255, 120, 37, 1) 10.98%, rgba(104, 242, 158, 1) 100%, rgba(91, 124, 255, 1) 100%);
  --main-events-color: rgba(104, 242, 158, 1);
  --side-events-color: rgba(91, 124, 255, 1);
  --party-color: rgba(255, 120, 37, 1);
  --inactive-scroll-button-color: rgba(192, 161, 144, 1);
  --event-bar-bg-color: rgba(33, 33, 33, 1); 
  --footer-email-button-text-color: rgba(121,122,122,1);
  --footer-divider-color: rgba(42,42,42,1);

  --event-name-title-fontsize: 22px;
  --event-type-date-fontsize: 18px;

  --bar-border-radius: 10px;
  --bar-width: 262px;
  --bar-padding: 10px 20px;
  --submit-button-padding: 16px 40px;

}

.sidebar {
  width: 20%;
  min-width: 200px;
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.bar {
  display: flex;
  width: var(--bar-width);
  height: 55px;
  padding: var(--bar-padding);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
}

.bar-content, .bar-content-bigger {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bar-content-bigger p {
  font-size: 18px;
}

.bar-extension-checkboxes div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  width: 12px;
  min-width: 12px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.list-tray-icon {
  width: 18px;
  height: 18px;
}

.main-content {
  width: 80%;
  min-width: 50%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  
}

.bar-information {
  display: flex;
  width: 100%;
  min-width: 100%;
  padding: 0 37px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.main-events {
  color: var(--main-events-color);
}

.side-events {
  color: var(--side-events-color);
}

.party {
  color: var(--party-color);
}

.venue-accom-top-section {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  max-height: fit-content;
  display: block;
  padding: 50px var(--header-padding);
  align-items: flex-start;
  gap: 5%;
  align-content: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.66px;
  background: linear-gradient(146deg,#FFF 30%, #5B7CFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.venue-accom-bottom-content {
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  max-height: fit-content;
  display: inline-flex;
  padding: 50px var(--header-padding);
  align-items: flex-start;
  gap: 125px;
}

.bar-extension-capacity-selection {
  display: flex;
  width: var(--bar-width);
  padding: 23px;
  height: 500px;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
}

.bar-extension-location-selection {
  display: flex;
  width: var(--bar-width);
  padding: 23px;
  height: 300px;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
}

.bar-extension-checkboxes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.apply-filters-button {
  display: flex;
  width: var(--bar-width);
  height: 52px;
  padding: var(--submit-button-padding);
  align-items: center;
  justify-content: center;
  border-radius: var(--bar-border-radius);
  background: var(--main-events-color);
  color: var(--body-background-color);
  font-size: 16px;
  font-weight: 400;
}

.venue-accom-filters-bottom-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
  background-image: url("/img/node101-events-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  width: var(--bar-width);
  min-width: var(--bar-width);
  height: 191.181px;
  padding-bottom: 13px;
}

.venue-accom-filters-bottom-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  flex-shrink: 0;
}

.venue-accom-filters-bottom-info-text p {
  width: 234px;
  color:#EEF6FC;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

.outer-links-with-arrow {
  display: flex;
  width: fit-content;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.link-arrow {
  width: 10.092px;
  min-width: 10.092px;
  height: 14.12px;
  min-height: 14.12px;
  flex-shrink: 0;
}

.outer-link-green {
  align-items: center;
  text-decoration: none;
  width: fit-content;
  height: auto;
  color: #68F29E;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: wrap;
}

.submit-venue-button {
  display: flex;
  width: 262px;
  padding: 9px 20px 9px 29px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid #68F29E;
  color: var(--g, #68F29E);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.venue-bar {
  display: flex;
  width: 100%; 
  min-width: 100%;
  height: 85px;
  min-height: 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--bar-border-radius);
  background: var(--event-bar-bg-color);
  gap: 50px;
}

.venue-title {
  font-size: 18px;
  font-weight: 400;
  min-width: 350px;
  margin-right: 5px;
}

.venue-seated-capacity, .venue-standing-capacity {
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
  min-width: 150px;
  display: flex;
  align-content: center;
  margin-right: 5px;
}

@media only screen and (max-width: 1000px) {

  .venue-title {
      font-size: 18px;
      min-width: 290px;
  }
  .venue-seated-capacity, .venue-standing-capacity {
      font-size: 14px;
  }
  
}

@media only screen and (max-width: 670px) {

  .venue-bar {
      height: 70px;
      min-height: 70px;
  }
  .venue-title {
      width: 150px;
      min-width: 150px;
  }
  .venue-seated-capacity, .venue-standing-capacity {
      min-width: 70px;
  }

  .venue-accom-top-section {
      font-size: 60px;
  }
  
}

@media only screen and (max-width: 480px) {
  .venue-accom-top-section {
      display: none;
  } 
}