nav {
	position: sticky;
	top: 150px;
	align-self: start;
}

.istanbul-guide-top-section {
  width: 100vw;
  height: fit-content;
  max-height: fit-content;
  display: inline-flex;
  padding: 50px var(--header-padding);
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.istanbul-guide-top-section-left {
  width: 50%;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.66px;
  background: var(--istanbul-guide-top-section-left-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.istanbul-guide-top-section-right {
  width: 50%;
}

.istanbul-guide-intro-photo {
  width: 100%;
  height: auto;
}

.istanbul-guide-bottom-section {
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  max-height: fit-content;
  display: inline-flex;
  padding: 50px var(--header-padding);
  align-items: flex-start;
  gap: 60px;
}

.istanbul-guide-side-bar {
  display: flex;
  flex: 1;
}

.istanbul-guide-side-bar-links {
  width: 10%;
  min-width: 305px;
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: var(--top-intro-padding);
  margin-right: 30px;
}

.side-bar-divider {
  width: 1px;
  min-width: 1px;
  height: 500px;
  background: var(--sidebar-divider-color);
}

.side-bar-element {
  width: 100%;
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  color: var(--top-intro-paragraph-color);
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

.side-bar-element:hover, .side-bar-element:focus {
	color: var(--side-events-color);
}

.side-bar-element-active {
  color: var(--side-events-color);
}

.istanbul-guide-mobile-side-bar {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: -1px;
  padding-right: 0;
}

.istanbul-guide-mobile-side-bar-links {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.istanbul-guide-mobile-side-bar-links .side-bar-element {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 30px;
  white-space: nowrap;
}

.mobile-side-bar-divider {
  width: 100%;
  height: 1px;
  background: var(--sidebar-divider-color);
}

.istanbul-guide-main-content {
  width: 70%;
  min-width: 70%;
  height: fit-content;
  flex: 3;
}

#istanbul-guide-general-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 40px;
}

.istanbul-guide-main-content h1 {
  width: fit-content;
  height: fit-content;
  color: var(--top-intro-paragraph-color);
  font-size: 28px;
  font-weight: 400;
}

h2 {
  width: fit-content;
  height: fit-content;
  color: var(--top-intro-paragraph-color);
  font-size: 24px;
  font-weight: 500;
}

.istanbul-guide-main-content p {
  width: fit-content;
  color: var(--top-intro-paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 37px;
}

h3 {
  color: var(--default-text-color);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.quick-tips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 66px;
}

.quick-tips-bar {
  display: flex;
  width: 100%;
  height: 83px;
  padding: var(--bar-padding);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #212121;
}

.quick-tips-bar-text {
  display: flex;
  width: 100%;
  min-width: 100%;
  padding: 0 37px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.quick-tip-bar-left {
  color: var(--default-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.quick-tip-bar-right {
  color: var(--side-events-color);
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: none;
  text-align: right;
  white-space: nowrap;
}

#getting-to-istanbul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 40px; 
}

#getting-to-istanbul h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.airports-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.airport-bar {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 191px;
  padding: 24px 35px;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
  border-radius: 10px;
  background: var(--event-bar-bg-color);
}

.airport-icao-code {
  color: var(--top-intro-paragraph-color);
  font-size: 22px;
  font-weight: 400;
}

.airport-full-name {
  color: var(--top-intro-paragraph-color);
  font-size: 28px;
  font-weight: 400;
}

.airports-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.airport-detail {
  width: fit-content;
  height: 32px;
  color: var(--top-intro-paragraph-color);
  font-size: 16px;
  font-weight: 400;
}

.airport-code-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.get-directions-button {
  display: flex;
  width: 166px;
  min-width: 166px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--side-events-color);
  background: var(--side-events-color);
  font-size: 16px;
  font-weight: 400;
}

.get-directions-button a {
  text-decoration: none;
  color: var(--website-background-color);
}

#where-to-stay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 40px; 
}

.outer-links-with-arrow {
  display: flex;
  width: fit-content;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin-right: auto;
}

.outer-link {
  align-items: center;
  text-decoration: none;
  width: fit-content;
  height: auto;
  color: var(--side-events-color);
  font-size: 16px;
  font-weight: 400;
  flex-wrap: wrap;
}

.link-arrow {
  width: 10.092px;
  min-width: 10.092px;
  height: 14.12px;
  min-height: 14.12px;
  flex-shrink: 0;
}

.istanbul-map-accom {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#history-culture-food {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 60px; 
}

.blue-highlight {
  color: var(--side-events-color);
}

.blue-highlight-link a {
  text-decoration: none;
  color: var(--side-events-color);
}

#history-culture-food .outer-links-with-arrow, #tips-from-locals .outer-links-with-arrow, #transportation .outer-links-with-arrow{
  margin-left: 0;
  margin-top: -20px;
}

#tips-from-locals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 40px; 
}

.bold-colored {
  color: var(--side-events-color);
  font-weight: 600;
}

li {
  color: var(--top-intro-paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 37px;
  margin-left: 30px;
}

#tips-from-locals .outer-links-with-arrow {
  margin-top: 10px;
  margin-bottom: 20px;
}

#transportation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 40px; 
}

#safety {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 40px; 
}

.airports-information-mobile {
  display: none;
}

.airports-information-mobile .outer-links-with-arrow {
  width: 100%;
  min-width: 100%;
}

.airports-information-mobile .outer-link {
  font-size: 28px;
  margin-bottom: 20px;
}

.airports-information-mobile .airport-detail {
  font-size: 18px;
  height: fit-content;
}

@media only screen and (max-width: 1400px) {
  
  .istanbul-guide-side-bar-links {
      min-width: 240px;
  }

  .istanbul-guide-side-bar-links {
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
  }

}

@media only screen and (max-width: 1000px) {

  .istanbul-guide-top-section {
    flex-direction: column;
  }

  .istanbul-guide-top-section-left {
    order: 2;
    min-width: 100%;
    margin-top: 50px;
  }

  .istanbul-guide-top-section-right {
    order: 1;
    min-width: 100%;
  }

  .side-bar-element {
    width: fit-content;
    height: auto;
    white-space: wrap;
  }

  .istanbul-guide-side-bar-links {
    width: fit-content;
    min-width: fit-content;
  }

  .airport-bar {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    border-radius: 10px;
    background: var(--event-bar-bg-color);
  }

  .airports-information {
    display: none;
  }

  .get-directions-button {
    display: none;
  }

  .airports-information-mobile {
    display: inline;
  }
  
}

@media only screen and (max-width: 700px) {

  .istanbul-guide-side-bar {
    display: none;
  }

  .istanbul-guide-mobile-side-bar {
    display: inline-flex;
  }

  .istanbul-guide-bottom-section {
    display: flex;
    flex-direction: column;
  }
  
  .istanbul-guide-main-content {
    width: 100%;
  }

}

@media only screen and (max-width: 600px) {

  .istanbul-guide-side-bar {
      display: none;
  }

  .istanbul-guide-top-section {
      display: none;
  }

  .quick-tips-bar {
    padding: 10px 0px;
  }

  .quick-tips-bar-text {
    font-size: 14px;
    white-space: wrap;
  }

  .quick-tip-bar-right {
    margin-left: 10px;
  }
  
}

@media only screen and (max-width: 521px) {

  .airport-bar {
    height: 128px;
    padding: 9px 15px;
  }

  .istanbul-guide-top-section {
      display: none;
  }

  .airports-information-mobile .outer-link {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .airports-information-mobile .airport-detail {
    font-size: 16px;
    height: fit-content;
  }
  
}

