* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", Helvetica, sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-size: cover;
  background: var(--background-color);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--website-background-color);
  overflow-y: scroll;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

textarea, input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

:root {
  --header-background-color: rgba(0, 0, 0, 0.4);
  --default-text-color: rgba(217, 217, 217, 1);

  --website-background-color: rgba(20, 20, 20, 1);
  --top-intro-paragraph-color: rgba(238, 246, 252, 1);
  --top-intro-title-color: rgba(255, 255, 255, 1);;
  --gradient-title-color: linear-gradient(139deg, rgba(255, 255, 255, 1) 0%, rgba(104, 242, 158, 1) 100%);
  --gradient-text-color: linear-gradient(0deg,rgba(255, 120, 37, 1) 1.95%, rgba(104, 242, 158, 1) 70.83%);
  --main-events-color: rgba(104, 242, 158, 1);
  --side-events-color: rgba(91, 124, 255, 1);
  --party-color: rgba(255, 120, 37, 1);
  --inactive-scroll-button-color: rgba(47, 47, 47, 1);
  --event-bar-bg-color: rgba(33, 33, 33, 1); 
  --event-location-color: rgba(206, 206, 206, 1);
  --mobile-searchbar-color: rgba(193, 193, 193, 1);
  --top-slider-element-mobile-color: rgba(39, 39, 39, 1);
  --istanbul-guide-top-section-left-gradient: linear-gradient(146deg,rgba(255, 255, 255, 1) 30%, rgba(91, 124, 255, 1) 100%);
  --sidebar-divider-color: rgba(119, 119, 119, 1);
  --footer-email-button-text-color: rgba(121,122,122,1);
  --footer-divider-color: rgba(42,42,42,1);

  --header-height: 100px;
  --header-padding: 150px;

  --ist-blockchain-events-logo-footer-width: 678px;
  --footer-title-width: 1160px;
  --footer-title-height: 200px;
  --footer-email-button-width: 458px;
  --footer-email-button-height: 55px;
  --footer-email-button-border-radius: 107px;

  --footer-subscribe-button-width: 146px;
  --footer-subscribe-button-height: 40px;
  --footer-subscribe-button-margin-top: 20px;

}

.display-none {
  display: none !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}