
.all-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.all-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--header-background-color);
  color: var(--default-text-color);
  width: 100%;
  height: var(--header-height);
  flex-shrink: 0;
  padding: 0 var(--header-padding);
  backdrop-filter: blur(5px);
}

.all-content {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
}

.all-footer {
  background-color: var(--website-background-color);
  width: 100vw;
  min-width: 100vw;
  height: fit-content;
  min-height: fit-content;
  padding: 50px var(--header-padding);
  display: flex;
  align-items: center;
  flex-flow: column;
}

.header-blockchain-events-logo-text {
  width: 189px;
  height: 52px;
  flex-shrink: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 46px;
}

.header-page-name { 
  color: var(--default-text-color);
  text-decoration: none;
}

.header-hamburger-menu-icon {
  width: 23px;
  height: 20px;
  flex-shrink: 0;
  display: none;
  padding-right: 20px;
}

.header-blockchain-events-logo-icon {
  width: 100px;
  height: 64px;
  display: none;
  padding-left: 10px;
}

.ist-blockchain-events-logo-footer {
  width: 678px;
  min-width: 678px;
}

.footer-title {
  width: 70%;
  min-width: 70%;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.5px;
  background: linear-gradient(313deg, #FF7825 10.98%, #68F29E 42.12%, #5B7CFF 94.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
}

.footer-email-button {
  display: flex;
  width: 400px;
  height: 50px;
  flex-shrink: 0;
  border-radius: var(--footer-email-button-border-radius);
  background: rgba(0, 0, 0, 0.60);
  align-items: center;
  margin-top: 30px;
}

.footer-email-button-text {
  color: var(--footer-email-button-text-color);
  font-size: 14px;
  font-weight: 400;
  margin-left: 30px;
}

.footer-subscribe-button {
  display: flex;
  width: var(--footer-subscribe-button-width);
  height: var(--footer-subscribe-button-height);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--main-events-color);
  color: var(--body-background-color);
  font-size: 16px;
  font-weight: 400;
  margin-top: var(--footer-subscribe-button-margin-top);
}

.footer-bottom-information-page-hyperlinks {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.footer-contact-mail {
  color: var(--footer-email-button-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: var(--header-height);
}

.footer-divider {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  border-radius: var(--footer-email-button-border-radius);
  background: var(--footer-divider-color);
  margin-top: 35px;
}

.footer-bottom-information {
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 66px 0;
}

.footer-bottom-links {
  display: inline-block;
  align-items: flex-start;
  gap: 50px;
}

.telegram-icon, .x-icon, .github-icon, .website-icon {
  width: 19px;
  height: 20px;
}

.footer-page-link {
  color: var(--top-intro-paragraph-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 25px;
}

.footer-link-active {
  color: var(--main-events-color);
}

.footer-social-media-logos {
  display: flex;
  width: fit-content;
  align-items: flex-end;
  gap: 17px;
  flex-shrink: 0;
}

.footer-copyright-information {
  width: 100%;
  min-width: 100%;
  display: inline-flex;
  align-items: center;
  padding-bottom: 30px;
  justify-content: space-between;
}

.footer-design-develop, .footer-all-rights-reserved {
  white-space: nowrap;
  color: var(--default-text-color);
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 1900px) {
  :root {
      --header-padding: calc((100vw - 1900px) / 2 + 150px);
  }
}
@media only screen and (max-width: 1700px) {
  :root {
      --header-padding: calc((100vw - 1700px) / 2 + 150px);
  }
}
@media only screen and (max-width: 1500px) {
  :root {
      --header-padding: calc((100vw - 1500px) / 2 + 150px);
  }
}
@media only screen and (max-width: 1300px) {
  :root {
      --header-padding: calc((100vw - 1300px) / 2 + 150px);
  }
  .footer-title {
    width: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  :root {
      --header-padding: calc((100vw - 1200px) / 2 + 150px);
  }

}
@media only screen and (max-width: 1000px) {
  :root {
      --header-padding: 50px;
  }
  .footer-page-link {
      font-size: 18px;
  }
  .footer-design-develop, .footer-all-rights-reserved {
      font-size: 10px;
  }

}

@media only screen and (max-width: 760px) {
  :root {
      --header-padding: 30px;
  }

  .header-page-name {
    display: none;
  }
  
  .header-hamburger-menu-icon {
    width: fit-content;
    display: flex;
  }
  
  .header-blockchain-events-logo-icon {
    width: fit-content;
    display: flex;
  }

  .header-blockchain-events-logo-text {
    display: none;
  }

  .ist-blockchain-events-logo-footer {
    width: 550px;
    min-width: 550px;
  }

}

@media only screen and (max-width: 700px) {
  .footer-social-media-logos {
    display: none;
  }

  .footer-page-link {
      font-size: 25px;
  }

  .footer-bottom-links a:last-child{
      margin-right: 0;
  }
  .footer-design-develop, .footer-all-rights-reserved {
      font-size: 12px;
  }
  .footer-bottom-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding: 30px 0;
    order: 1;
    margin-top: 76px;
    margin-bottom: 60px;
  }

  .footer-bottom-links {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
  }

  .footer-divider {
    margin: 25px 0;
    order: 3;
  }
  .footer-contact-mail {
    color: #CDCDCD;
    margin: 0;
    order: 2;
  }

  .footer-page-link {
    font-size: 24px;
  }

  .footer-copyright-information {
    width: 40%;
    min-width: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    order: 4;
    padding: 0;
    
  }

  .footer-design-develop, .footer-all-rights-reserved {
    color: #696969;
  }

  .footer-email-button {
    width: 361px;
  }

}


@media only screen and (max-width: 670px) {
  :root {
      --header-padding: 18px;
  }

  .footer-title {
    width: 90%;
  }

}

@media only screen and (max-width: 630px) {
  .ist-blockchain-events-logo-footer {
    width: 500px;
    min-width: 500px;
  }
  
}

@media only screen and (max-width: 600px) {
  :root {
      --header-padding: 30px;
  }

  .ist-blockchain-events-logo-footer {
    width: 450px;
    min-width: 450px;
  }
  
}

@media only screen and (max-width: 480px) {
  :root {
      --header-padding: 30px;
  }

  .footer-title {
    width: 350px;
    min-width: 350px;
    text-align: left;
    font-size: 30px;
    line-height: 30.5px;
    margin-top: 50px;
  }

  .ist-blockchain-events-logo-footer {
    width: 380px;
    min-width: 380px;
  }

}

@media only screen and (max-width: 420px) {
  :root {
      --header-padding: 10px;
  }

  .ist-blockchain-events-logo-footer {
    width: 350px;
    min-width: 350px;
  }

}